.RegisteerForm {
    background-color: #F7F7F7;
    min-height: 60rem;
    width: 70rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.RegisteerForm__header__title {
    font-size: 4rem;
}

.RegisteerForm__formulier {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}

.RegisteerForm__formulier__input {
    padding: 1rem 10rem;
    border: none;
    font-size: 150%;
    text-align: left;
    border-radius: 1.5rem;
    background-color: #eee;
}

.RegistreerForm__formulier__button {
    height: 5rem;
    width: 12rem;
    font-size: 2rem;
    border: none;
    border-radius: 1.5rem;
    background-color: #C8DBBE;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.5s;
}

.RegistreerForm__formulier__button:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transform: scale(1.1);
}

.RegisteerForm__formulier__button__link,
.RegisteerForm__formulier__button__link:visited {
    color: #ffff;
    text-decoration: none;
}

@media only screen and (max-width: 1024px) {
    .RegisteerForm {
        background-color: #F7F7F7;
        min-height: 50rem;
        width: 40rem;
        border-radius: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5rem;
    }

    .RegisteerForm__header__title {
        font-size: 4rem;
    }

    .RegisteerForm__formulier {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2.5rem;
    }

    .RegisteerForm__formulier__input {
        padding: 1rem 1.5rem;
        border: none;
        font-size: 100%;
        text-align: left;
        border-radius: 1.5rem;
        background-color: #eee;
    }

    .RegisteerForm__formulier__button {
        height: 2.5rem;
        width: 8rem;
        font-size: 1.5rem;
        border: none;
        border-radius: 1.5rem;
        background-color: #C8DBBE;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        transition: 0.5s;
    }

    .RegisteerForm__formulier__button:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        transform: scale(1.1);
    }

    .RegisteerForm__formulier__button__link,
    .RegisteerForm__formulier__button__link:visited {
        color: #ffff;
        text-decoration: none;
    }
}